@model StomatoloskaOrdinacija.Web.ViewModels.Profil.ProfilIzmjenaLozinkeViewModel
@{
    Layout = (string)TempData["Layout"];
    ViewBag.Title = "Stomatološka ordinacija | Izmjena lozinke";

    string successMessage = (string)TempData["successMessage"];
    string errorMessage = (string)TempData["errorMessage"];

}
<head>
    <link href="~/template/css/PregledProfila.css" rel="stylesheet">
</head>

@if (successMessage != null)
{
    <div class="alert alert-info alert-prijavljen" data-alert="alert">
        <a class="close" data-dismiss="alert">&times;</a>
        <p class="text-center text-info">@successMessage</p>
    </div>
}
@if (errorMessage != null)
{
    <div class="alert alert-danger alert-prijavljen" data-alert="alert">
        <a class="close" data-dismiss="alert">&times;</a>
        <p class="text-center text-danger">@errorMessage</p>
    </div>
}

<div class="container emp-profile">
    <form asp-action="izmjena-lozinke" asp-controller="Profil" method="POST">
        <div class="form-row">
            <div class="col-md-4">
                <label>Stara lozinka</label>
                <input name="staralozinka" asp-for="StaraLozinka" type="password" class="form-control" placeholder="Unesite staru lozinku">
            </div>
            <div class="col-md-4">
                <label>Nova lozinka</label>
                <input name="novalozinka" asp-for="NovaLozinka" type="password" class="form-control" placeholder="Unesite novu lozinku">
            </div>
            <div class="col-md-4">
                <label>Potvrda nove lozinke</label>
                <input name="potvrdanovelozinke" asp-for="PotvrdaNoveLozinke" type="password" class="form-control" placeholder="Unesite ponovo novu lozinku">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-1"><input type="submit" class="btn btn-success" value="Snimi" style="cursor: pointer;margin: 10px;"/></div>
            <div class="col-md-1"><input type="reset" class="btn btn-primary" value="Poništi" style="cursor: pointer;margin: 10px;"/></div>
        </div>
    </form>
</div>