@model StomatoloskaOrdinacija.Web.ViewModels.Profil.ProfilPocetnaViewModel
@{
    Layout = (string)TempData["Layout"];
    ViewBag.Title = "Stomatološka ordinacija | Početna";
}


<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Početna</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h2>Dobro došli @Model.Ime @Model.Prezime</h2>
            <a class="btn btn-primary mt-5" href="#" id="downloadPdf">Preuzmi pdf sa grafovima</a>
        </div>
    </div>

    
    <div id="reportPage">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3 mt-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Broj online korisnika: @Model.BrojOnline
                    </div>
                    <div class="card-body">
                        <canvas id="myBarChart1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3 mt-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Registrovani po mjesecu
                    </div>
                    <div class="card-body">
                        <canvas id="myLineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i> TOP 5 gradova sa najviše pacijenata
                    </div>
                    <div class="card-body">
                        <canvas id="myPolarChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Status termina
                    </div>
                    <div class="card-body">
                        <canvas id="myRadarChart" width="100" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $.ajax({
        url: "/Profil/BrojOnlineKorisnikaChart",
        success: function(result) {
            var ctx = document.getElementById("myBarChart1").getContext("2d");

            var myBarChart = new Chart(ctx,
                {
                    type: 'bar',
                    data: {
                        labels: ["Administrator", "Stomatolog", "Medicinsko osoblje", "Pacijent"],
                        datasets: [
                            {
                                label: "Online",
                                backgroundColor: "rgba(2,117,216,1)",
                                borderColor: "rgba(2,117,216,1)",
                                data: result.data

                            }
                        ]
                    },
                    options: {
                        maintainAspectRatio: true,
                        scales: {
                            xAxes: [
                                {
                                    gridLines: {
                                        display: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Uloga na sistemu'
                                    }
                                }
                            ],
                            yAxes: [
                                {
                                    ticks: {
                                        min: 0,
                                        maxTicksLimit: 5
                                    },
                                    gridLines: {
                                        display: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Ukupno online'
                                    }
                                }
                            ]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
        }
    });
    $.ajax({
        url: "/Profil/BrojRegistrovanihPacijenataPoGradu",
        success: function(result) {
            var ctx = document.getElementById("myPolarChart").getContext("2d");

            var nazivi = result.data.map(function(e) {
                return e.grad;
            });
            var podaci = result.data.map(function(e) {
                return e.ukupno;
            });;

            var myPolarChart = new Chart(ctx,
                {
                    type: "polarArea",
                    data: {
                        datasets: [
                            {
                                data: podaci,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.6)',
                                    'rgba(54, 162, 235, 0.6)',
                                    'rgba(255, 206, 86, 0.6)',
                                    'rgba(75, 192, 192, 0.6)',
                                    'rgba(153, 102, 255, 0.6)'
                                ],
                                label: 'Moji podaci' // for legend
                            }
                        ],
                        labels: nazivi
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        legend: {
                            position: 'left'
                        },
                        title: {
                            display: true,
                            text: 'Gradovi sa najvise pacijenata'
                        },
                        scale: {
                            ticks: {
                                beginAtZero: true
                            },
                            reverse: false
                        },
                        animation: {
                            animateRotate: false,
                            animateScale: true
                        }
                    }
                });
        }
    });

    $.ajax({
        url: "/Profil/StatusSvihTerminaChart",
        success: function(result) {
            var ctx = document.getElementById("myRadarChart").getContext("2d");

            var myPolarChart = new Chart(ctx,
                {
                    type: "radar",
                    data: {
                        datasets: [
                            {
                                data: result.data,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                                label: 'Podaci o statusu svih termina' // for legend
                            }
                        ],
                        labels: ["Odobreni", "Odbijeni", "Na cekanju", "Hitni", "Nisu hitni"]
                    },
                    options: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Status termina'
                        },
                        scale: {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    }
                });
        }
    });

    $.ajax({
        url: "/Profil/BrojRegistrovanihPacijenataPoMjesecu",
        success: function(result) {
            var ctx = document.getElementById("myLineChart").getContext("2d");

            var nazivi = result.data.map(function(e) {
                return e.mjesec;
            });
            var podaci = result.data.map(function(e) {
                return e.ukupno;
            });;

            var myLineChart = new Chart(ctx,
                {
                    type: "line",
                    data: {
                        datasets: [
                            {
                                data: podaci,
                                backgroundColor: 'rgba(2,117,216,0.2)',
                                borderColor: 'rgba(54, 162, 235, 0.5)',
                                pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                                fill: false
                            }
                        ],
                        labels: nazivi
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        legend: false,
                        title: {
                            display: true,
                            text: 'Broj registrovanih pacijenata po mjesecu'
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Mjesec'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Ukupno registrovanih'
                                },
                                ticks: {
                                    min: 0,
                                    maxTicksLimit: 5
                                }
                            }]
                        },
                        animation: {
                            animateRotate: false,
                            animateScale: true
                        }
                    }
                });
        }
    });

    $('#downloadPdf').click(function(event) {
        // get size of report page
        var reportPageHeight = $('#reportPage').innerHeight();
        var reportPageWidth = $('#reportPage').innerWidth();

        // create a new canvas object that we will populate with all other canvas objects
        var pdfCanvas = $('<canvas />').attr({
            id: "canvaspdf",
            width: reportPageWidth,
            height: reportPageHeight
        });
        // keep track canvas position
        var pdfctx = $(pdfCanvas)[0].getContext('2d');
        var pdfctxX = 0;
        var pdfctxY = 0;
        var buffer = 100;
        // for each chart.js chart
        $("canvas").each(function(index) {
            // get the chart height/width
            var canvasHeight = $(this).innerHeight();
            var canvasWidth = $(this).innerWidth();
            // draw the chart into the new canvas
            pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
            pdfctxX += canvasWidth + buffer;
            // our report page is in a grid pattern so replicate that in the new canvas
            if (index % 2 === 1) {
                pdfctxX = 0;
                pdfctxY += canvasHeight + buffer;
            }
        });
  
        // create new pdf and add our new canvas as an image
        var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
        pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);
        // download the pdf
        pdf.save('Charts.pdf');
    });

</script>