@model StomatoloskaOrdinacija.Web.ViewModels.Profil.ProfilPocetnaViewModel
@{
    Layout = (string)TempData["Layout"];
    ViewBag.Title = "Stomatološka ordinacija | Početna";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Profil" asp-action="Pocetna">Profil</a>
        </li>
        <li class="breadcrumb-item active">Početna</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h2>Home/Index</h2>
            <h2>Dobro došli @Model.Ime @Model.Prezime</h2>

        </div>
    </div>
</div>