
@{
    Layout = null;
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Profil" asp-action="Pocetna">Profil</a>
        </li>
        <li class="breadcrumb-item active">Početna</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h2>Home/Index</h2>
            <h2>Dobro došli</h2>



            <br />
            @Html.ActionLink("Ajax text", "Index", "AjaxTest")
            <br />
            @Html.ActionLink("DB text", "Index", "Home")
            <br />
            @Html.ActionLink("Neki kontroler", "Index", "Nekikontroler")
        </div>
    </div>
</div>