@model StomatoloskaOrdinacija.Web.ViewModels.Profil.ProfilPocetnaViewModel
@{
    Layout = (string)TempData["Layout"];
    ViewBag.Title = "Stomatološka ordinacija | Početna";
}


<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Početna</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h2>Dobro došli @Model.Ime @Model.Prezime</h2>
        </div>
    </div>

    <!-- Area Chart Example-->
    <div class="card mb-3 mt-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Area Chart Example
        </div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- Example Bar Chart Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i> Broj online korisnika: @Model.BrojOnline
                </div>
                <div class="card-body">
                    <canvas id="myBarChart1" width="100" height="50"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Example Pie Chart Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-pie-chart"></i> Pie Chart Example
                </div>
                <div class="card-body">
                    <canvas id="myPieChart" width="100%" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: "/Termin/BrojOnlineKorisnikaChart",
        success: function (result) {
            var ctx = document.getElementById("myBarChart1").getContext("2d");

            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Administrator", "Stomatolog", "Medicinsko osoblje", "Pacijent"],
                    datasets: [{
                        label: "Online",
                        backgroundColor: "rgba(2,117,216,1)",
                        borderColor: "rgba(2,117,216,1)",
                        data: result.data
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                maxTicksLimit: 3
                            },
                            gridLines: {
                                display: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });


        }
    });
</script>