@model StomatoloskaOrdinacija.Web.ViewModels.Prijava.RegistracijaViewModel
@{
    string errorMessage = (string)TempData["errorMessage"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Stomatološka ordinacija | Registracija</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Stomatološka ordinacija" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <!-- Bootstrap core CSS-->
    <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/template/css/sb-admin.css" rel="stylesheet">
</head>

@if (errorMessage != null)
{
    <div class="alert alert-danger alert-prijavljen" data-alert="alert">
        <a class="close" style="cursor: pointer !important" data-dismiss="alert">&times;</a>
        <p class="text-center text-danger">@errorMessage</p>
    </div>
}
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header text-center">
                <div class="font-weight-bold">REGISTRACIJA KORISNIČKOG NALOGA</div>
            </div>
            <div class="card-body">
                <form id="registracija" asp-controller="Prijava" asp-action="Registracija" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="ime">Ime</label>
                                <input class="form-control" id="ime" type="text" name="ime" asp-for="Ime" aria-describedby="nameHelp" placeholder="Unesite ime">
                                <span asp-validation-for="Ime" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="prezime">Prezime</label>
                                <input class="form-control" id="prezime" type="text" name="prezime" asp-for="Prezime" aria-describedby="nameHelp" placeholder="Unesite prezime">
                                <span asp-validation-for="Prezime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="jmbg">JMBG</label>
                                <input class="form-control" id="jmbg" aria-describedby="nameHelp" placeholder="Unesite JMBG" type="text" name="jmbg" asp-for="JMBG">
                                <span asp-validation-for="JMBG" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="mobitel">Broj mobitela</label>
                                <input class="form-control" id="mobitel" aria-describedby="nameHelp" placeholder="Unesite broj mobitela" type="text" name="mobitel" asp-for="Mobitel">
                                <span asp-validation-for="Mobitel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="adresa">Adresa</label>
                                <input class="form-control" id="adresa" aria-describedby="nameHelp" placeholder="Unesite adresu" type="text" name="adresa" asp-for="Adresa">
                                <span asp-validation-for="Adresa" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="date-error-message">Izaberite datum rođenja</label>
                                <input type="text" name="datumRodjenja" asp-for="DatumRodjenja" value="@Model.DatumRodjenja" class="form-control"
                                       onfocus="(this.type = 'date')" onblur="(this.type = 'text')" placeholder="Datum rođenja">
                                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="imgInp">Dodaj sliku</label>
                                        <input type="file" name="slika" id="imgInp" asp-for="Slika" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="alergijenalijekove">Alergije na lijekove</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="alergijenalijekove" id="alergijenalijekove" asp-for="AlergijaNaLijek">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="proteza">Proteza</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="proteza" id="proteza" asp-for="Proteza">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="terapija">Terapija</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="terapija" id="terapija" asp-for="Terapija">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="navlake">Navlake</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="navlake" id="navlake" asp-for="Navlake">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="aparatic">Aparatić</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="aparatic" id="aparatic" asp-for="Aparatic">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Izaberite grad</label>
                                <select asp-for="GradID" asp-items="@Model.Gradovi" class="form-control">
                                    <option value="" selected disabled>Grad</option>
                                </select>
                                <span asp-validation-for="GradID" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Izberite spol</label>
                                <select name="spol" asp-for="Spol" class="form-control">
                                    <option value="" selected disabled>Spol</option>
                                    <option value="Muško">Muško</option>
                                    <option value="Žensko">Žensko</option>
                                </select>
                                <span asp-validation-for="Spol" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailadresa">Email adresa</label>
                        <input class="form-control" id="emailadresa" type="email" name="email" asp-for="Email" aria-describedby="emailHelp" placeholder="Unesite email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="lozinka1">Lozinka</label>
                                <input class="form-control" id="lozinka1" type="password" name="lozinka" asp-for="Lozinka" placeholder="Lozinka">
                                <span asp-validation-for="Lozinka" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="potvrdapassworda">Confirm password</label>
                                <input class="form-control" id="potvrdapassworda" type="password" name="potvrdaLozinke" asp-for="PotvrdaLozinke" placeholder="Potvrda lozinke">
                                <span asp-validation-for="PotvrdaLozinke" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Registracija" style="cursor: pointer;">
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" asp-controller="Prijava" asp-action="Prijava">Prijavi se</a>
                    <a class="d-block small" asp-controller="Prijava" asp-action="zaboravljena-lozinka">Zaboravljena lozinka?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/template/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>