@model StomatoloskaOrdinacija.Web.ViewModels.Korisnik.KorisnikDodajPacijentaViewModel

@{
    Layout = "_Administrator";
    ViewBag.Title = "Stomatološka ordinacija | Dodavanje novog pacijenta";
    string successMessage = (string)TempData["successMessage"];
    string errorMessage = (string)TempData["errorMessage"];
}

<head>
    <link href="~/template/css/PregledProfila.css" rel="stylesheet">
</head>

<div class="container-fluid">
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Profil" asp-action="Pocetna">Početna</a>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="Korisnik" asp-action="uredi-pacijent">Pregled pacijenata</a>
    </li>
    <li class="breadcrumb-item active">Dodavanje pacijenta</li>
</ol>

@if (successMessage != null)
{
    <div class="alert alert-info alert-prijavljen" data-alert="alert">
        <a class="close" style="cursor: pointer !important" data-dismiss="alert">&times;</a>
        <p class="text-center text-info">@successMessage</p>
    </div>
}
@if (errorMessage != null)
{
    <div class="alert alert-danger alert-prijava" data-alert="alert">
        <a class="close" data-dismiss="alert" style="cursor: pointer">&times;</a>
        <p class="text-center text-danger">@errorMessage</p>
    </div>
}

<div class="card mx-auto mt-3">
    <div class="card-body">
        <form id="registracija" name="formadodajpacijenta" asp-controller="Korisnik" asp-action="dodaj-pacijenta" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="ime">Ime</label>
                        <input class="form-control" id="ime" type="text" name="ime" asp-for="Ime" aria-describedby="nameHelp" placeholder="Unesite ime">
                    </div>
                    <div class="col-md-4">
                        <label for="prezime">Prezime</label>
                        <input class="form-control" id="prezime" type="text" name="prezime" asp-for="Prezime" aria-describedby="nameHelp" placeholder="Unesite prezime">
                    </div>
                    <div class="col-md-4">
                        <label for="jmbg">JMBG</label>
                        <input class="form-control" id="jmbg" aria-describedby="nameHelp" placeholder="Unesite JMBG" type="text" name="jmbg" asp-for="JMBG">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="mobitel">Broj mobitela</label>
                        <input class="form-control" id="mobitel" aria-describedby="nameHelp" placeholder="Unesite broj mobitela" type="text" name="mobitel" asp-for="Mobitel">
                    </div>
                    <div class="col-md-4">
                        <label for="adresa">Adresa</label>
                        <input class="form-control" id="adresa" aria-describedby="nameHelp" placeholder="Unesite adresu" type="text" name="adresa" asp-for="Adresa">
                    </div>
                    <div class="col-md-4">
                        <label class="date-error-message">Izaberite datum rođenja</label>
                        <input type="text" name="datumRodjenja" asp-for="DatumRodjenja" value="" class="form-control"
                               onfocus="(this.type = 'date')" onblur="(this.type = 'text')" placeholder="Datum rođenja">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="alergijenalijekove">Alergije na lijekove</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" name="alergijenalijekove" id="alergijenalijekove" asp-for="AlergijaNaLijek">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="proteza">Proteza</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" name="proteza" id="proteza" asp-for="Proteza">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="terapija">Terapija</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" name="terapija" id="terapija" asp-for="Terapija">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="navlake">Navlake</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" name="navlake" id="navlake" asp-for="Navlake">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="aparatic">Aparatić</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" name="aparatic" id="aparatic" asp-for="Aparatic">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-3">
                        <label for="imgInp">Dodaj sliku</label>
                        <input type="file" name="slika" id="imgInp" asp-for="Slika" class="form-control">
                    </div>
                    <div class="col-md-3 mt-3">
                        <label>Izaberite grad</label>
                        <select asp-for="GradID" asp-items="@Model.Gradovi" class="form-control" required>
                            <option value="" selected disabled>Grad</option>
                        </select>
                    </div>
                    <div class="col-md-3 mt-3">
                        <label>Izberite spol</label>
                        <select name="spol" asp-for="Spol" class="form-control" required>
                            <option value="" selected disabled>Spol</option>
                            <option value="Muško">Muško</option>
                            <option value="Žensko">Žensko</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="emailadresa">Email adresa</label>
                <input class="form-control" id="emailadresa" type="email" name="email" asp-for="Email" aria-describedby="emailHelp" placeholder="Unesite email">
            </div>

            <input class="btn btn-primary btn-block" type="submit" value="Snimi novog pacijenta" style="cursor: pointer;">
        </form>
    </div>
</div>
</div>
