@model StomatoloskaOrdinacija.Web.ViewModels.Termin.TerminPregledViewModel
@{
    Layout = (string)TempData["Layout"];
    ViewBag.Title = "Stomatološka ordinacija | Termini";
    string successMessage = (string)TempData["successMessage"];
    string errorMessage = (string)TempData["errorMessage"];
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Profil" asp-action="Pocetna">Početna</a>
        </li>
        <li class="breadcrumb-item active">Pregled termina</li>
    </ol>
    @if (successMessage != null)
    {
        <div class="alert alert-info alert-prijavljen" data-alert="alert">
            <a class="close" style="cursor: pointer !important" data-dismiss="alert">&times;</a>
            <p class="text-center text-info">@successMessage</p>
        </div>
    }
    @if (errorMessage != null)
    {
        <div class="alert alert-danger alert-prijavljen" data-alert="alert">
            <a class="close" style="cursor: pointer !important" data-dismiss="alert">&times;</a>
            <p class="text-center text-danger">@errorMessage</p>
        </div>
    }
    <table id="dataTable" class="table table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th>Razlog</th>
                <th>Datum</th>
                <th>Vrijeme</th>
                <th>Hitan</th>
                <th>Na cekanju</th>
                <th>Odobren</th>
                <th>Funkcije</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Razlog</th>
                <th>Datum</th>
                <th>Vrijeme</th>
                <th>Hitan</th>
                <th>Na cekanju</th>
                <th>Odobren</th>
                <th>Funkcije</th>
            </tr>
        </tfoot>
    </table>
    <a class="btn btn-primary" asp-controller="Termin" asp-action="dodaj-termin">Dodaj novi termin</a>
    <style>
        td.details-control {
            text-align:center;
            color:forestgreen;
            cursor: pointer;
        }
        tr.shown td.details-control {
            text-align:center; 
            color:red;
        }
        .dataTables_filter {
            float: right !important;
        }
        .lightGreen {
            background-color: #93f393cc !important;
        }
        .lightYellow {
            background-color: #ffff7ecc !important;
        }
        tbody tr.even,  tbody tr.odd{
            background-color: #ff6c6c;
        }
        #dataTable_length, .toolbar{
            display:inline;
        }
        .dotGreen, .dotRed, .dotYellow {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: text-top;
        }
        .dotGreen {
            background-color: #93f393cc !important;
        }
        .dotYellow {
            background-color: #ffff7ecc !important;
        }
        .dotRed {
            background-color: #ff6c6c !important;
        }
    </style>
    <script>
        $(document).ready(function () { 
            $.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');

         var table = $('#dataTable').DataTable({
             "sDom": 'l<"toolbar">frtip',
             "ajax": {
                 "url": "/Termin/ListaSvihTermina/" + @Model.PacijentId,
                 "type": "GET",
                 "datatype": "json"
             },
             "paging": true,
             "autoWidth": true,
             "columns": [
                 {
                     "className": 'details-control',
                     "orderable": false,
                     "data": null,
                     "defaultContent": '',
                     "render": function () {
                         return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                     },
                     width:"15px"
                 },
                 {
                     "data": "razlog",
                     "render": function (data, type, full, meta) {
                         if (data.length < 30) 
                             return data;
                         else 
                            return data.substring(0,28)+"..";
                     }
                 },
                 {
                     "data": "datum",
                     "render": function (data, type) {
                         return type === 'sort' ? data : moment(data).format('DD.MM.YYYY');
                     }
                 },
                 {
                     "data": "vrijeme",
                     "render": function (data, type) {
                         return type === 'sort' ? data : moment(data).format('HH:mm');
                     }
                 },
                 { "data": "hitan" },
                 { "data": "odobren" },
                 { "data": "naCekanju" },
                 { "data": "terminId" }
             ],
             "columnDefs": [
                 {
                     "targets": 5,
                     render: function(data, type, full, meta) {
                         if (type === 'display' && data == 'Da') {
                             var rowIndex = meta.row+1;
                             $('#dataTable tbody tr:nth-child('+rowIndex+')').addClass('lightYellow');
                             return data;
                         } else {
                             return data;
                         }
                     }
                 },
                 {
                     "targets": 6,
                     render: function(data, type, full, meta) {
                         if (type === 'display' && data == 'Da') {
                             var rowIndex = meta.row+1;
                             $('#dataTable tbody tr:nth-child('+rowIndex+')').addClass('lightGreen');
                             return data;
                         } else {
                             return data;
                         }
                     }
                 },
                 {
                     "targets": 7,
                     "render": function (data, type, full, meta) {
                         return '<a class="izmjeni" class="ml-1" href="/Termin/izmjeni-termin/' +
                             data +
                             '">Izmjeni</a></span>'+ " | " + '<a class="izbrisi" class="ml-1" href="/Termin/izbrisi-termin/' +
                             data +
                             '">Izbrisi</a></span>';
                     }
                 }],
             "initComplete": function(settings, json) {
                 $("#dataTable tr").each(function() {
                     if (!$(this).hasClass("lightYellow")) {
                         $(this).find('td').last().empty();
                     }
                 });
             }
             
         });

         // Event za otvaranje i zatvaranja detalja
         $('#dataTable tbody').on('click', 'td.details-control', function () {
             var tr = $(this).closest('tr');
             var tdi = tr.find("i.fa");
             var row = table.row(tr);

             if (row.child.isShown()) {
                 // Detalji otvoreni - zatvori
                 row.child.hide();
                 tr.removeClass('shown');
                 tdi.first().removeClass('fa-minus-square');
                 tdi.first().addClass('fa-plus-square');
             }
             else {
                 // Otvara detalje
                 row.child(format(row.data())).show();
                 tr.addClass('shown');
                 tdi.first().removeClass('fa-plus-square');
                 tdi.first().addClass('fa-minus-square');
             }
         });




         table.on("user-select", function (e, dt, type, cell, originalEvent) {
             if ($(cell.node()).hasClass("details-control")) {
                 e.preventDefault();
             }
         });
            $("div.toolbar").html('<span class="dotRed mr-2"></span>Odbijen<span class="dotGreen ml-5 mr-2"></span>Odobren<span class="dotYellow ml-5 mr-2"></span>Na čekanju');
            $("div.toolbar").addClass('ml-5');

        });

        function format(d){
        
         // `d` orginalni podaci za red
         return '<table class="table-bordered" id="detaljitable" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
             '<tr>' +
                 '<td>Ime i prezime:</td>' +
                 '<td>' + d.pacijent + '</td>' +
             '</tr>' +
             '<tr>' +
                 '<td>Datum:</td>' +
                 '<td>' + moment(d.datum).format('DD.MM.YYYY') + " " + moment(d.vrijeme).format('HH:mm') + '</td>' +
             '</tr>' +
             '<tr>' +
                 '<td>Razlog:</td>' +
                '<td>' + d.razlog + '</td>' +
             '</tr>' +
         '</table>';  
    }


    </script>

</div>